* {
    box-sizing: border-box;
}

header {
    background-color: #bbf;
    border-bottom-left-radius: 200px 100px;
    margin-left: 450px;
    padding-left: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    font-family: Montserrat, Georgia, sans-serif;
    font-size: 20px;
}

nav a {
    color: #000;
    display: block;
    padding: 1em 2em;
    position: relative;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav li.selected a::before {
    content: '⋆';
    font-size: 25px;
    left: 23px;
    position: absolute;
    top: 17px;
}

nav li.selected a::after {
    content: '⋆';
    font-size: 25px;
    position: absolute;
    right: 23px;
    top: 17px;
}

main {
    background-color: #eee;
    border-bottom-left-radius:  300px 75px;
    border-bottom-right-radius: 150px 200px;
    border-top-left-radius: 125px;
    border-top-right-radius: 500px 50px;
    margin: 50px 50px 50px 120px;
    padding: 40px 100px;
}

aside {
    background-color: #ddf;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 316px;
    padding: 10px;
    position: fixed;
    top: calc(50% - 200px);
}

footer {
    background-color: #bbf;
    border-top-right-radius: 200px 100px;
    margin-right: 250px;
    padding: 20px 100px;
}

ul.social {
    display: flex;
    justify-content: space-between;
}

ul.social img {
    height: 40px;
}

aside ul.social {
    flex-direction: column;
    height: 100%;
}

footer ul.social {
    margin: 0 auto;
    vertical-align: bottom;
    width: 50%;
}
