:root {
    --maestro-red: #900c3f;
    --maestro-white: #f5f7ff;
    --maestro-white-semiopaque: #f5f7ff80;
    --maestro-black: #313133;
    --maestro-black-semiopaque: #31313380;
    --maestro-grey: #696a6e;
    --maestro-light-grey: #9d9ea3;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--maestro-white);
    color: var(--maestro-black);
    scroll-behavior: smooth;
}

a {
    color: var(--maestro-red);
    font-weight: bold;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rift;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--maestro-grey);
    outline: none;
}

b {
    font-weight: bold;
}

#skills-and-experience ul {
    list-style: disc;
    margin: 10px;
    padding-left: 10px;
}

section {
    padding: 7vh 10vw calc(7vh + 50px);
    position: relative;
}

header {
    background-color: var(--maestro-black);
    color: var(--maestro-white);
    font-family: Roboto, serif;
    text-align: center;
}

header section {
    height: 100vh;
    width: 100%;
}

#profile-pic {
    border-radius: 50%;
    height: min(45vh, 70vw);
}

header h1 {
    font-size: min(10vh, 6vw);
    margin: 5vh 0;
}

header p {
    font-size: 2vh;
    margin: 20px 0;
}

header p.subtitle {
    font-family: RiftSoft, serif;
    font-size: 4vh;
}

hr {
    border: var(--maestro-red) solid 2px;
    border-radius: 2px;
}

.chevron {
    bottom: 25px;
    color: var(--maestro-red);
    display: inline-block;
    font-size: 6vh;
    height: 50px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    vertical-align: 10px;
    width: 30px;
    z-index: 1;
}

.chevron.light-background {
    text-shadow: 5px 5px 5px var(--maestro-black-semiopaque);
}

.chevron.dark-background {
    text-shadow: 5px 5px 5px var(--maestro-white-semiopaque);
}

.chevron:hover {
    text-decoration: none;
}

main {
    font-size: 1.5rem;
}

main section {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    min-height: 100vh;
    text-align: justify;
}

main h2 {
    font-size: 10vh;
    margin-bottom: 7vh;
    text-align: center;
}

main img {
    border-radius: 10px;
    box-shadow: 10px 10px 5px #0005;
    width: 100%;
}

a.button {
    border-radius: 7px;
    box-shadow: 5px 5px 8px #0005;
    display: block;
    font-family: Rift, sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    transition-duration: 0.1s;
    padding: 30px 0;
    width: 35%;
}

a.button:hover {
    box-shadow: 2px 2px 5px #0005;
    filter: brightness(120%);
    padding: 35px 0;
    width: 37%;
    margin-bottom: -5px;
    margin-top: 45px;
    text-decoration: none;
    transition-duration: 0.1s;
}

.call-to-action {
    background-color: var(--maestro-red);
    color: var(--maestro-white);
}

#maestro {
    background-color: var(--maestro-black);
    color: var(--maestro-white);
}

#maestro figure {
    float: left;
    font-size: 0;
    margin: 0 20px 20px 0;
    width: 50%;
}

#maestro figure img {
    max-height: 70vh;
    background-color: var(--maestro-white);
}

footer {
    background-color: var(--maestro-black);
    color: var(--maestro-white);
    font-family: RiftSoft, sans-serif;
    font-size: 1.5rem;
    padding: 5vh 10vw;
    text-align: center;
}

footer p {
    margin: 20px 0;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 40%;
}

.social-icons img,
.social-icons svg {
    display: block;
    margin: auto 0;
    width: min(10vw, 50px);
}

.social-icons svg {
    fill: var(--maestro-white);
}

.social-icons svg:hover {
    fill: var(--maestro-red);
}

.social-icons img:hover {
    filter: brightness(80%);
}

small {
    font: inherit;
}

@media screen and (min-width: 2000px) {
    a.button.call-to-action {
        position: absolute;
        left: 52%;
    }

    a.button.call-to-action:hover {
        left: 51%;
    }
}

@media screen and (max-width: 1200px) {
    a.button {
        width: 45%;
    }

    a.button:hover {
        width: 49%;
    }

    #other-projects figcaption {
        text-align: center;
    }

    footer .social-icons {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    body > aside {
        display: none;
    }

    #profile-pic {
        height: min(35vh, 65vw);
    }

    a.button {
        width: 55%;
    }

    a.button:hover {
        width: 60%;
    }

    #maestro {
        text-align: left;
    }

    #maestro figure {
        width: 70%;
    }

    footer .social-icons {
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    section {
        padding-left: 5vh;
        padding-right: 5vh;
    }

    #maestro,
    #other-projects figcaption {
        text-align: justify;
    }

    #maestro figure {
        float: none;
        margin-right: 0;
        width: 100%;
    }

    a.button {
        width: 80%;
    }

    a.button:hover {
        width: 85%;
    }

    #other-projects ul {
        display: block;
    }

    #other-projects li {
        margin-top: 7vh;
    }

    #other-projects figure {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding-left: 2vh;
        padding-right: 2vh;
    }

    #profile-pic {
        height: min(30vh, 50vw);
    }

    header h1 {
        font-size: 7vh;
    }

    main h2 {
        font-size: 7vh;
    }

    main section,
    #maestro,
    #other-projects figcaption {
        text-align: center;
    }

    #other-projects ul {
        flex-direction: column;
    }

    footer .social-icons {
        flex-wrap: wrap;
        width: 100%;
    }
}
